@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id ="app">
    <input type="text"/>
    <input type="text" v-focus/>
    <input type="text"/>
</div>
@section Scripts{
    <script>
        const vueApp = {
            directives: {
                focus: {
                    mounted: (el) => { 
                        el.focus();
                    }
                }
            }
        }
        const app = Vue.createApp(vueApp).mount("#app");
    </script>
}
